/*individual style*/
@font-face {
    font-family: "gochihand"; /*a name to be used later*/
    src: url(font/GochiHand-Regular.ttf); /*URL to font*/
}
body {
    background-color: #ffebcd;
}

h1, h2, h3 {
    font-family: gochihand;
}

h1 {
    font-size: 50px;
    margin: 15px;
}

h2 {
    background: #FF8FB7;
    border-top-left-radius: 15px;
    padding-left: 10px;
    font-size: 30px;
    margin-bottom: -25px;
}

h3 {
    margin-bottom: -10px;
    font-size: 15px;
}

li {
    font-size: 10px;
}

p {
    font-family: open sans;
    font-size: 30px
}

/*grid style*/
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 1rem;
}
    
.header {
    grid-column: span 5 / span 5;
    padding-left: 10px;
    border: 1rem ridge pink;
    border-radius: 25px;
    font-size: 20px;
}

.content {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
    
    padding-left: 5px;
    border: 1rem ridge #FF8FB7;
    border-radius: 25px
}

.sidebar {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: start;
    
    padding-left: 5px;
    padding-top: -10px;
    border: 1rem ridge #FF8FB7;
    border-radius: 25px
}

.footer {
    grid-column: span 5 / span 5;
    grid-row-start: 5;
    text-align: center;
    border: 1rem ridge #43334C;
    border-radius: 25px
}

.quirks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.imageboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}