:root {
  --bgc: #f9caca;
    --borderc: #bfa3cc;
}

@font-face {
    font-family: "gochihand"; /*a name to be used later*/
    src: url(../font/GochiHand-Regular.ttf); /*URL to font*/
}


/*individual style*/
body {
  background-color: var(--bgc);
  font-family: open sans;
}

h1 {
  text-align: center;
  font-family: gochihand;
  font-size: 50px;
}

h2 {
  font-size: 40px;
  font-family: gochihand;
  background: var(--borderc); 
  border-top-left-radius: 15px;
  padding-left: 10px;
}

a {
  font-size: 20px;
  font-family: gochihand;
}

p {
  font-family: open sans;
  font-size: 30px;
}

.bullshit {
  width: 100%;
  height: 100%;
}

/*layout style*/
.parent {
  display: grid;
  grid-template-columns: 1fr;
}

.header, .topbar, .content, .desc {
  border: 1rem ridge var(--borderc);
  border-radius: 25px;
  gap: 1rem
}

.topbar {
  display: flex;
  height: 50px;
  
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 10px;
  height: 600px;
}

.desc {
  margin-top: 10px;
  padding-left: 10px;
}

.imageboard {
  display: flex;
  flex-wrap: wrap;
  
  padding-bottom: 1rem;
  justify-content: center;
  gap: 1rem
}

