:root {
  --bgc: #f9caca;
    --borderc: #bfa3cc;
}

@font-face {
    font-family: "gochihand"; /*a name to be used later*/
    src: url(../font/GochiHand-Regular.ttf); /*URL to font*/
}


/*individual style*/
body {
  background-color: var(--bgc);
  font-family: open sans;
}

h2, h1, a {
  text-align: center;
  font-family: gochihand;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

p {
  font-family: open sans;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
    justify-content: center;
    
}

/*layout style*/
.parent {
  gap: 1rem;
  justify-content: center;
  justify-items: center;
}

.header, .topbar, .content{
  width: 95%;
  border: 1rem ridge var(--borderc);
  border-radius: 25px;
    gap: 1rem
}

.topbar {
  display: flex;
  height: 50px;
  
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 10px;
  justify-content: center;
}

.imageboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem
}

