@font-face {
    font-family: "gochihand"; /*a name to be used later*/
    src: url(../font/GochiHand-Regular.ttf); /*URL to font*/
}

:root {
  --bgc: #ffebcd;
  --borderc: #FF8FB7;
}

body {
  background-color: var(--bgc);
  font
}

h2, h1 {
  text-align: center;
  font-family: gochihand;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

p {
  font-family: open sans;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.header {
  width: 100%;
  border-bottom: 5px solid black;
  background-image: url("../images/background.jpg");
  border-radius: 5px;
}

.content {
  margin: 1rem;
  border: 1rem inset var(--borderc);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

.imageboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem
}

